body{
    margin: 0px auto;
    text-align: center;
}
h1#info-text{
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 17px;
    text-align: left;
}
    canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
    }
    #background {
        z-index: -2;
    }
    #points {
        z-index: -1;
    }
    #ball {
        z-index: 0;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


#gamerName{
    width: 80%;
    height:30px;
    font-size: 20px;
}

#informations{
    position: fixed;
    right: 30px;
    font-size: 25px;
}

#informations .main{
    font-weight: bold;
}

#counter{
    position: fixed;
    top: 20px;
    left: 50%;
    font-size: 28pt;
    font-weight: bold;
}

label{
    display: block;
    font-size: 16pt;
    margin-top: 20px;
}

#restart{
    display: block;
    font-size: 15pt;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
}